<template name="editProfile">
    <div class="wrapper">
        <div class="box">
            <div class="row row-offcanvas row-offcanvas-left">
                <!-- sidebar -->
                {{>sidebar}}
                <!-- /sidebar -->
                <!-- main right col -->
                <div class="column col-sm-10 col-xs-11" id="main">
                    <!-- top nav -->
                    {{>topnav}}
                    <!-- /top nav -->
                    <div class="padding">
                        <div class="full col-sm-9">
                            <!-- content -->
                            <div class="row">
                                {{>profileDetails}}
                                <!-- main col right -->
                                <div class="col-sm-7">
                                    <form name="editProfileForm">
                                    <label class="label label-warning">Nombre: </label>
                                    <input class="editProfileForm" name="firstname" type="text" value={{editarPerfil.firstname}}>
                                    <label class="label label-warning">Apellidos: </label>
                                    <input class="editProfileForm" name="lastname" type="text" value={{editarPerfil.lastname}}>
                                    <label class="label label-warning">Género: </label>
                                    <input class="editProfileForm" name="gender" type="text" value={{editarPerfil.gender}}>
                                    <label class="label label-warning">Calle: </label>
                                    <input class="editProfileForm" name="street" type="text" value={{editarPerfil.location.street}}>
                                    <label class="label label-warning">Ciudad: </label>
                                    <input class="editProfileForm" name="city" type="text" value={{editarPerfil.location.city}}>
                                    <label class="label label-warning">Provincia: </label>
                                    <input class="editProfileForm" name="state" type="text" value={{editarPerfil.location.state}}>
                                    <label class="label label-warning">Código Postal: </label>
                                    <input class="editProfileForm" name="postcode" type="text" value={{editarPerfil.location.postcode}}>

                                    <div class="form-group">
                                            <button type="submit" class="btn btn-primary">Enviar</button>
                                            <button type="reset" class="btn btn-default">Reset Form</button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- /main -->
        </div>
    </div>
</div>
{{>modal}}

</template>
